[project]
	description = Testing Gerrit integration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bsangwan
[access "refs/for/refs/*"]
	read = group user/bsangwan
	push = group user/bsangwan
	label-Code-Review = -2..+2 group user/bsangwan
	label-Verified = -1..+1 group user/bsangwan
	rebase = group user/bsangwan
	removeReviewer = group user/bsangwan
	submit = group user/bsangwan
[access "refs/heads/*"]
	read = group user/bsangwan
	create = group user/bsangwan
	push = +force group user/bsangwan
	pushMerge = group user/bsangwan
[access "refs/tags/*"]
	push = +force group user/bsangwan
	pushTag = group user/bsangwan
	pushSignedTag = group user/bsangwan
[receive]
	requireChangeId = true
